<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{.Title}}</title>
		<script>
			const delay = time => new Promise(resolve => setTimeout(resolve, time))
			let interval = {{ .Interval.Milliseconds }} / 2
			async function reload() {
				try {
					const res = await (await fetch("/update")).json(); 
					interval = res["interval"]/2
					document.getElementsByTagName('body')[0].innerHTML = res["content"]
				} catch (e) {
					console.error(e)
				}
				return delay(interval).then(reload)
			}
			window.addEventListener('DOMContentLoaded', function start() {
				delay(interval).then(reload).catch(console.error)
			})
		</script>
	</head>
	<body>
		{{template "content.html" .}}
	</body>
</html>